body {
    font-family: sans-serif;
    background-color: rgb(0, 0, 0);
}

header {
    justify-content: space-between;
    padding:18px ;
    margin-bottom: 20px;
    display:flex ;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
    color:white;
}

.nav-link {
    font-size: 24px;
    color:white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    margin-top:18px ;
    margin-bottom:18px ;
}

p {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
}

article {
    background-color: white;
    padding:18px ;
    width: 400px;
    margin:18px ;
}

.article-but {
    text-decoration: none;
    background-color:#0DB705 ;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: black;
    padding:18px ;
    display: flex
}

footer a {
    margin-right:18px ;
}

footer p {
    font-size: 24px;
    color: white;
}
